.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

.jacques-francois-regular {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
}

.instrument-sans {
    font-family: "Instrument Sans", sans-serif;
    font-style: normal;
}

/* Style page content */
.dashboard-main {
  margin-left: 200px; /* Same as the width of the sidebar */
  background-color: #121212;
  min-height: 100vh;
  overflow-y: scroll;
}

.Dashboard .welcome {
    font-size: 36px;
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-style: italic;
    padding: 10px 10px 10px 10px;
    text-align: start;
    letter-spacing: 0.5px;
    margin-top: 7px;
    font-weight: 300;
    margin-left: 15px;
}

/* Three Boxes */
.Dashboard .RegUsers {
    width: 280px;
    height: 130px;
    margin-bottom: 20px;
}

.Dashboard .UploadedArt {
    width: 280px;
    height: 130px;
    margin-bottom: 20px;
}

.Dashboard .Transact {
    width: 280px;
    height: 130px;
    margin-bottom: 20px;
}

.Dashboard .RegUsers {
    border: 1px solid #cccccc;
    border-radius: 15px;
    text-align: center;
}

.Dashboard .RegUsers p {
    font-size: 26px;
    font-family: "Instrument Sans", sans-serif;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

.Dashboard .UploadedArt {
    border: 1px solid #cccccc;
    border-radius: 15px;
    text-align: center;
}

.Dashboard .UploadedArt p {
    font-size: 26px;
    font-family: "Instrument Sans", sans-serif;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

.Dashboard .Transact {
    border: 1px solid #cccccc;
    border-radius: 15px;
    text-align: center;
}

.Dashboard .Transact p {
    font-size: 26px;
    font-family: "Instrument Sans", sans-serif;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}

.Dashboard .container {
  display: flex;
  gap: 80px;              /* space between boxes */
  flex-wrap: wrap;        /* optional: moves to next line on small screens */
  justify-content: center;
}

.Dashboard .RecentUpload p {
    font-size: 24px;
    color: white;
    font-weight: 600;
    font-family: "Instrument Sans", sans-serif;
    margin-left: 30px;
    text-align: start;
}

.Dashboard .columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.Dashboard .columns p {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Instrument Sans", sans-serif;
  margin-left: 60px;
  font-weight: 300;
}

/* Container for Uploaded Artworks */
.Dashboard .gray-box {
  width: 95%;
  height: 400px;
  background-color: #d9d9d9;
  margin-top: 10px;
  border-radius: 8px;
  margin: auto;
  opacity: 10%;
  margin-bottom: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}